:root {
  --primary-color: #ffce7f;
  --bright-primary-color: #ffa542;
  --background-color: #eaeaea;
  --light-color: #ffffff;
  --dark-m-color: rgba(131, 131, 131, 0.46);
  --dark-l-color: #1c1c27;
  --dark-xl-color: #101010;
  --dark-2xl-color: #000000;
}
