:root {
  --font-size-25: 2.5rem;
  --font-size-20: 2rem;
  --font-size-17: 1.7rem;
  --font-size-15: 1.5rem;
  --font-size-13: 1.3rem;

  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;
}
