* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background-color);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

button {
  background: none;
  border: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

h1 {
  font-size: var(--font-size-25);
  font-weight: var(--font-weight-700);
  margin: 0;
}

h2 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-600);
  margin: 0
}

h3 {
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-600);
}

h4 {
  font-size: var(--font-size-17);
}

h6 {
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-400);
}
