.wrapper {
  background: var(--light-color);
  border-radius: 30px 30px 0 0;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-400);
  padding: 10px 28px 25px;
  margin: 25px 0 auto;
  overflow: hidden;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link:hover {
  color: var(--bright-primary-color);
}

.button{
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-500);
}

.active{
  font-weight: var(--font-weight-700);
  color: var(--bright-primary-color);
}

.vk {
  width: 38px;
  height: 30px;
  fill: var(--dark-xl-color);
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--dark-xl-color);
}

.vk:hover,
.icon:hover {
  fill: var(--bright-primary-color);
}

.languageIcon {
  width: 20px;
  height: 20px;
 }

