.wrapper {
  width: 100%;
  margin: 15px 0 auto;
  max-width: var(--container-mobile);
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-400);
}

.logo {
  font-size: var(--font-size-25);
  font-weight: var(--font-weight-700);
  color: var(--dark-2xl-color);
  text-decoration: none;
}

.logo:hover {
  color: var(--bright-primary-color);
}

@media (max-width: 480px) {
  .logo {
    font-size: 40px;
    padding: 0;
    margin: 0 0 0 8px;
  }
}

.nav {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.icon {
   fill: var(--dark-m-color);
  &:hover {
    fill: var(--dark-l-color);
 }
}
.iconWrapper {
  position: relative;
}

@media (max-width: 480px) {
  .icon {
    width: 50px;
    height: 50px;
  }
}

.counter {
  border-radius: 10px;
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bright-primary-color);
  color: var(--light-color);
  font-size: 13px;
}


@media (max-width: 480px) {
  .counter{
    border-radius: 23px;
    width: 30px;
    height: 30px;
    bottom: 35px;
    left: 34px;
    font-size: 22px;
  }
}
