.wrapper{
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius30);
  width: 350px;
  height: 120px;
  box-shadow: var(--box-shadow);
  color: var(--dark-xl-color);
  background: var(--light-color);
}

.total{
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-600);
}

.totalPrice {
  width: 74px;
}

.link{
  margin-top: 16px;
  width: 350px;
  height: 65px;
  color: var(--light-color);
  background: var(--dark-xl-color);
  box-shadow: var(----box-shadow-l);
  border-radius: var(--border-radius20);
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-600);
  cursor: pointer;
  text-align: center;
  padding: 21px;
}

